# Aequitas: Bias report

In [2]:
# install packages
%pip install -q aequitas

Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask-login 0.6.2 requires Flask>=1.0.4, but you have flask 0.12.2 which is incompatible.
flask-jwt-extended 4.4.4 requires Flask<3.0,>=2.0, but you have flask 0.12.2 which is incompatible.
flask-appbuilder 4.1.4 requires Flask<3,>=2, but you have flask 0.12.2 which is incompatible.
connexion 2.14.1 requires flask<3,>=1.0.4, but you have flask 0.12.2 which is incompatible.
apache-airflow 2.5.0 requires flask<2.3,>=2.2, but you have flask 0.12.2 which is incompatible.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Imports
import pandas as pd

from aequitas.plotting import Plot
from aequitas.group import Group
from aequitas.bias import Bias 
from aequitas.fairness import Fairness


## 1st step: format the input data

In [4]:
df_aq = pd.read_csv('components/07_test_model/df_aq.csv')
df_aq.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label_value,score
0,27,Private,160178,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,0,0
1,45,State-gov,50567,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0,0
2,29,Private,185908,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,55,United-States,1,1
3,30,Private,190040,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,0,0
4,29,Self-emp-not-inc,189346,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,2202,0,50,United-States,0,0